/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/field/advanced-header-field/component/advanced-header-field.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.advanced-header-field.advanced-header-field--size-h2 .advanced-header-field__heading {
  --heading-font-size: var(--h2-font-size, clamp(1.333rem, 1.185037rem + 0.8220166667vw, 1.776889rem));
  --heading-font-family: YaleNew;
  --heading-font-weight: 700;
}

.advanced-header-field.advanced-header-field--size-h3 .advanced-header-field__heading {
  --heading-font-size: var(--h3-font-size, clamp(1rem, 0.889rem + 0.6166666667vw, 1.333rem));
}

.advanced-header-field.advanced-header-field--size-h4 .advanced-header-field__heading {
  --heading-font-size: var(--h4-font-size, clamp(1rem, 1rem + 0vw, 1rem));
}

.advanced-header-field.advanced-header-field--style-centered {
  text-align: center;
}
.advanced-header-field.advanced-header-field--heading-tag-h2 {
  margin-bottom: calc(clamp(1.333rem, 1.185037rem + 0.8220166667vw, 1.776889rem) * 0.5);
}
.advanced-header-field.advanced-header-field--heading-tag-h3 {
  margin-bottom: calc(clamp(1rem, 0.889rem + 0.6166666667vw, 1.333rem) * 0.5);
}
.advanced-header-field.advanced-header-field--heading-tag-h4 {
  margin-bottom: calc(clamp(1rem, 1rem + 0vw, 1rem) * 0.5);
}
.advanced-header-field.advanced-header-field--size-h2 {
  margin-bottom: calc(clamp(1.333rem, 1.185037rem + 0.8220166667vw, 1.776889rem) * 0.5);
}
.advanced-header-field.advanced-header-field--size-h3 {
  margin-bottom: calc(clamp(1rem, 0.889rem + 0.6166666667vw, 1.333rem) * 0.5);
}
.advanced-header-field.advanced-header-field--size-h4 {
  margin-bottom: calc(clamp(1rem, 1rem + 0vw, 1rem) * 0.5);
}
