/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/field/ckeditor/component/ckeditor.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/
.ck-content p.intro-text {
  --p-font-family: YaleNew;
  --p-font-size: clamp(1.333rem, 1.2643255321rem + 0.3815248216vw, 1.5390234037rem);
  --p-line-height: 1.333;
}

.ck-content {
  --figure-display: table;
  --li-style-type: disc;
  --li-margin: 0 0 1em 0;
  --list-line-height: 1.7;
}
.ck-content :is(h2, h3, h4, h5, h6):first-child {
  --heading-margin-top: 0;
}
.ck-content figure,
.ck-content img {
  margin-bottom: 20px;
}
.ck-content figure.align-left,
.ck-content img.align-left {
  margin-right: 20px;
}
.ck-content figure.align-right,
.ck-content img.align-right {
  margin-left: 20px;
}
.ck-content ul {
  --li-style-type: disc;
}
.ck-content ol {
  --li-style-type: decimal;
}
.ck-content ol.footnote {
  font-size: 90%;
}
.ck-content sup {
  font-size: 70%;
  vertical-align: super;
}
.ck-content sub {
  font-size: 70%;
  vertical-align: sub;
}
