/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/paragraph/embed-code/component/embed-code.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.paragraph--embed-code {
  position: relative;
}
.paragraph--embed-code.paragraph--powerbi-interactive {
  aspect-ratio: var(--aspect-ratio, 1/0.6);
  /* .paragraph__screen-message {
    text-align: center;
    color: colors.$yale-medium-blue;
    border: 1px solid #286dc0;
    padding: site-config.$spacer-up-2;
    max-width: 90%;
    margin: site-config.$spacer-up-2 auto;

    @media(min-width: 64em) {
      display: none;
    }
  } */
}
.paragraph--embed-code.paragraph--powerbi-interactive > iframe {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
