/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/paragraph/file-download/component/file-download.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.paragraph--file-download a {
  display: inline;
  background-image: linear-gradient(0deg, var(--animate-underline-gradient-color-1, currentColor) 0%, var(--animate-underline-gradient-color-2, var(--animate-underline-gradient-color-1, currentColor)) 100%);
  background-size: var(--animate-underline-background-size-width, 0%) var(--animate-underline-background-size-height, 1px);
  background-repeat: no-repeat;
  background-position: var(--animate-underline-background-position-x, left) bottom;
  transition: all 200ms ease-in-out;
}
.paragraph--file-download a:hover {
  --animate-underline-background-size-height: var(--animate-underline-background-size-height-hover);
  --animate-underline-background-size-width: var(--animate-underline-background-size-width-hover, 100%);
}

.paragraph--file-download a {
  --animate-underline-background-size-width: 100%;
  --animate-underline-background-size-height-hover: 7px;
  --animate-underline-background-size-height:0;
  font-family: Mallory, arial, sans-serif;
}
