/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/misc/footnotes/footnote-list.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************/
.footnotes__item-text a {
  display: inline;
  background-image: linear-gradient(0deg, var(--animate-underline-gradient-color-1, currentColor) 0%, var(--animate-underline-gradient-color-2, var(--animate-underline-gradient-color-1, currentColor)) 100%);
  background-size: var(--animate-underline-background-size-width, 0%) var(--animate-underline-background-size-height, 1px);
  background-repeat: no-repeat;
  background-position: var(--animate-underline-background-position-x, left) bottom;
  transition: all 200ms ease-in-out;
}
.footnotes__item-text a:hover {
  --animate-underline-background-size-height: var(--animate-underline-background-size-height-hover);
  --animate-underline-background-size-width: var(--animate-underline-background-size-width-hover, 100%);
}

.footnotes {
  font-size: 90%;
  line-height: 1.78;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.footnotes__item-wrapper {
  display: flex;
  gap: 0.5em;
}
.footnotes__item-wrapper + .footnotes__item-wrapper {
  --li-margin: 15.0037509377px 0 0 0;
}
.footnotes__item-text {
  --p-font-size: 90%;
  --p-margin: 0 0 0.25em 0;
}
.footnotes__item-text a {
  --animate-underline-gradient-color-1: #63aaff;
  --animate-underline-background-size-width: 100%;
  --animate-underline-background-size-height-hover: 1ex;
  --animate-underline-background-size-height: 2px;
}
.footnotes:empty {
  display: none;
}
