/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/paragraph/footnotes/component/footnotes.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.paragraph--footnotes {
  border-top: 1px solid #63aaff;
  padding-top: 20px;
}
