/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/form/form/component/form.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.form .form__description {
  margin-top: 0.25em;
  color: inherit;
}
.form .form__select-wrapper {
  position: relative;
}
.form .form__select-wrapper select {
  padding-right: 1em;
}
.form .form__select-wrapper::after {
  content: "";
  background-color: var(--select-wrapper-bg-color, currentColor);
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBQcm8gNi42LjAgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTIyNCAzOTcuM2wyMi42LTIyLjYgMTYwLTE2MEw0MjkuMyAxOTIgMzg0IDE0Ni43bC0yMi42IDIyLjZMMjI0IDMwNi43IDg2LjYgMTY5LjQgNjQgMTQ2LjcgMTguNyAxOTJsMjIuNiAyMi42IDE2MCAxNjBMMjI0IDM5Ny4zeiIvPjwvc3ZnPg==);
          mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBQcm8gNi42LjAgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTIyNCAzOTcuM2wyMi42LTIyLjYgMTYwLTE2MEw0MjkuMyAxOTIgMzg0IDE0Ni43bC0yMi42IDIyLjZMMjI0IDMwNi43IDg2LjYgMTY5LjQgNjQgMTQ2LjcgMTguNyAxOTJsMjIuNiAyMi42IDE2MCAxNjBMMjI0IDM5Ny4zeiIvPjwvc3ZnPg==);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  font-size: 1.333rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  position: absolute;
  pointer-events: none;
  width: 1em;
  height: 1em;
}
