/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/paragraph/key-takeaways/component/key-takeaways.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.paragraph--key-takeaways .paragraph__key-takeaways-list {
  --list-margin: 0;
  --list-padding: 0;
  --li-margin: 0;
  --li-padding: 0;
  --li-style-type: none;
}

.paragraph--key-takeaways .paragraph__title {
  --heading-font-size: 0.7501875469rem;
  --heading-font-weight: 800;
  --heading-font-family: Mallory, arial, sans-serif;
  text-align: center;
}
.paragraph--key-takeaways .paragraph__key-takeaways-list {
  counter-reset: key-takeaway-counter;
  margin-top: 35.53778px;
}
.paragraph--key-takeaways .paragraph__key-takeaways-list > * + * {
  border-top: 1px solid #63aaff;
}
.paragraph--key-takeaways .paragraph__key-takeaway-item {
  --li-padding: 1em 0;
  grid-template-columns: auto 1fr;
  counter-increment: key-takeaway-counter;
  display: grid;
  -moz-column-gap: 35.53778px;
       column-gap: 35.53778px;
  align-items: center;
  line-height: 1.78;
}
.paragraph--key-takeaways .paragraph__key-takeaway-item::before {
  content: counter(key-takeaway-counter);
  font-family: Mallory, arial, sans-serif;
  font-size: clamp(1.776889rem, 1.579654321rem + 1.0957482167vw, 2.368593037rem);
  font-weight: 800;
  color: #101f5b;
  width: calc((calc(1440px - clamp(1.333rem, 0.3744243624rem + 5.3254202091vw, 4.2087269129rem) * 2)/12) - 35.53778px);
}
.paragraph--key-takeaways .paragraph__key-takeaway-item:first-child {
  --li-padding: 0;
  --li-margin: 0 0 1em 0;
}
.paragraph--key-takeaways .paragraph__key-takeaway-item:last-child {
  --li-padding: 1em 0 0 0;
  --li-margin: 0;
}
