/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/layout.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
.layout .layout__cta-link a {
  background-color: var(--cta-primary-background-color);
  border: 2px solid var(--cta-primary-border-color, #101f5b);
  border-radius: 1em;
  color: var(--cta-primary-color, #4a4a4a);
  display: inline-block;
  font-weight: 800;
  line-height: 1;
  padding: 0.75em 1.5em;
}
.layout .layout__cta-link a:hover, .layout .layout__cta-link a:focus {
  background-color: var(--cta-primary-background-color-hover, var(--cta-primary-background-color, #101f5b));
  color: var(--cta-primary-color-hover, var(--cta-primary-color, #ffffff));
}

.layout {
  container-name: layout;
  container-type: inline-size;
}
.layout > .layout__content > .layout__regions {
  display: grid;
  row-gap: 20px;
  -moz-column-gap: 35.53778px;
       column-gap: 35.53778px;
}
.layout .layout__region {
  container-name: layout-region;
  container-type: inline-size;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--layout-region-gap);
}
.layout .layout__header {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35.53778px;
       column-gap: 35.53778px;
}
.layout .layout__header:has(.layout__cta-link) {
  margin-bottom: 20px;
}
@media (width < 600px) {
  .layout .layout__header {
    flex-wrap: wrap;
  }
}
.layout.layout--margin-bottom-sm {
  margin-bottom: 35.53778px;
}
.layout.layout--margin-bottom-md {
  margin-bottom: 47.37186074px;
}
.layout.layout--margin-bottom-lg {
  margin-bottom: 84.1745382584px;
}
.layout:last-child {
  margin-bottom: 0;
}
.layout.layout--region-gap-sm {
  --layout-region-gap: 35.53778px;
}
.layout.layout--region-gap-md {
  --layout-region-gap: 47.37186074px;
}
.layout.layout--region-gap-lg {
  --layout-region-gap: 84.1745382584px;
}
.layout.layout--border-top {
  border-top: 1px solid #63aaff;
  padding-top: 35.53778px;
}
.layout.layout--unpublished {
  outline: 4px dashed #888;
  background-color: #d9d9d9;
}
/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/one-column/_one-column.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
.layout--one-column.layout--width-edge-to-edge {
  margin-left: calc(-50vw + 50% - var(--scrollbar-width, 0px) / 2 * -1);
  margin-right: calc(-50vw + 50% - var(--scrollbar-width, 0px) / 2 * -1);
}

.layout--one-column.layout--width-edge-to-edge > .layout__content {
  padding-left: var(--safe-area-inline);
  padding-right: var(--safe-area-inline);
  max-width: 1440px;
  margin: 0 auto;
}

.layout--one-column[class*=layout--color-scheme] {
  padding: 20px;
}
.layout--one-column.layout--color-scheme-light {
  background-color: #f9f9f9;
}
@media (min-width: 64em) {
  .layout--one-column > .layout__content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .layout--one-column > .layout__content > .layout__header,
  .layout--one-column > .layout__content > .layout__regions {
    grid-column: var(--layout-grid-column, 1/-1);
  }
  .layout--one-column.layout--width-inset-1 {
    --layout-grid-column: 2 / -2;
  }
  .layout--one-column.layout--width-inset-2 {
    --layout-grid-column: 3 / -3;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/two-column/_two-column.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
.layout--two-column {
  --layout-two-column-regions-gta:
    "lr1"
    "lr2";
}
.layout--two-column > .layout__content > .layout__regions {
  grid-template-areas: var(--layout-two-column-regions-gta);
}
.layout--two-column > .layout__content > .layout__regions > .layout__region--first {
  grid-area: lr1;
}
.layout--two-column > .layout__content > .layout__regions > .layout__region--second {
  grid-area: lr2;
}
@media (max-width: 64em) {
  .layout--two-column.layout--mobile-order-1-2 > .layout__content > .layout__regions {
    --layout-two-column-regions-gta: "lr1" "lr2" ;
  }
  .layout--two-column.layout--mobile-order-2-1 > .layout__content > .layout__regions {
    --layout-two-column-regions-gta: "lr2" "lr1" ;
  }
}
@media (min-width: 64em) {
  .layout--two-column > .layout__content > .layout__regions {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .layout--two-column.layout--50-50 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2 lr2";
  }
  .layout--two-column.layout--60-40 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2";
  }
  .layout--two-column.layout--40-60 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2 lr2 lr2";
  }
  .layout--two-column.layout--70-30 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2";
  }
  .layout--two-column.layout--30-70 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2 lr2 lr2 lr2";
  }
  .layout--two-column.layout--75-25 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2";
  }
  .layout--two-column.layout--25-75 {
    --layout-two-column-regions-gta: "lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2 lr2 lr2 lr2 lr2";
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/three-column/_three-column.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.layout--three-column {
  --layout-three-column-regions-gta:
    "lr1"
    "lr2"
    "lr3";
}
.layout--three-column > .layout__content > .layout__regions {
  grid-template-areas: var(--layout-three-column-regions-gta);
}
.layout--three-column > .layout__content > .layout__regions > .layout__region--first {
  grid-area: lr1;
}
.layout--three-column > .layout__content > .layout__regions > .layout__region--second {
  grid-area: lr2;
}
.layout--three-column > .layout__content > .layout__regions > .layout__region--third {
  grid-area: lr3;
}
@media (min-width: 64em) {
  .layout--three-column > .layout__content > .layout__regions {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .layout--three-column.layout--33-33-33 {
    --layout-three-column-regions-gta: "lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr3 lr3 lr3 lr3" ;
  }
  .layout--three-column.layout--25-50-25 {
    --layout-three-column-regions-gta: "lr1 lr1 lr1 lr2 lr2 lr2 lr2 lr2 lr2 lr3 lr3 lr3" ;
  }
  .layout--three-column.layout--50-25-25 {
    --layout-three-column-regions-gta: "lr1 lr1 lr1 lr1 lr1 lr1 lr2 lr2 lr2 lr3 lr3 lr3" ;
  }
  .layout--three-column.layout--25-25-50 {
    --layout-three-column-regions-gta: "lr1 lr1 lr1 lr2 lr2 lr2 lr3 lr3 lr3 lr3 lr3 lr3" ;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/four-column/_four-column.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************/
@media (min-width: 64em) {
  .layout--four-column > .layout__content > .layout__regions {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .layout--four-column > .layout__content > .layout__regions > .layout__region {
    grid-column: span 3;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/layouts/accordion/_accordion.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.layout--accordion .layout__details summary::before, .layout--accordion .layout__details summary::after {
  background-color: var(--icon-embed-background-color, currentColor);
  content: "";
  display: block;
  height: 1em;
  font-size: var(--icon-embed-font-size);
  -webkit-mask-image: var(--icon-embed-mask-image);
          mask-image: var(--icon-embed-mask-image);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 1em;
}

.layout--accordion .layout__details summary {
  --summary-color: #286dc0;
  --summary-font-size: clamp(1rem, 0.889rem + 0.6166666667vw, 1.333rem);
  --summary-font-weight: 400;
  --summary-margin: 0.5em 0 0 0;
  --summary-margin-open: 0.5em 0 0.75em 0;
  padding-left: calc(var(--summary-font-size) * 1.5);
}
.layout--accordion .layout__details summary::before, .layout--accordion .layout__details summary::after {
  --icon-embed-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBQcm8gNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTI1NiA0OGEyMDggMjA4IDAgMSAxIDAgNDE2IDIwOCAyMDggMCAxIDEgMC00MTZ6bTAgNDY0QTI1NiAyNTYgMCAxIDAgMjU2IDBhMjU2IDI1NiAwIDEgMCAwIDUxMnpNMTg0IDIzMkgxNjB2NDhoMjRIMzI4aDI0VjIzMkgzMjggMTg0eiIvPjwvc3ZnPg==);
  position: absolute;
  left: 0;
  top: 0;
  transition: rotate 200ms ease-in-out;
}
.layout--accordion .layout__details summary::after {
  rotate: var(--summary-after-rotate, -90deg);
}
.layout--accordion [open].layout__details {
  --summary-after-rotate: 0;
}
