/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/layout/component/site-footer/site-footer.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.site-footer {
  border-top: 10px solid #101f5b;
  margin-top: 84.1745382584px;
  padding-block: 47.37186074px;
}
.site-footer__content {
  display: grid;
  grid-template-columns: var(--site-footer-content-gtc, 1fr);
  -moz-column-gap: 35.53778px;
       column-gap: 35.53778px;
  row-gap: 47.37186074px;
  grid-template-areas: var(--site-footer-content-gta, "footer-menu" "corporate-menu" "signup-form" "contact" "yale-logo");
}
.site-footer__footer-menu {
  grid-area: footer-menu;
}
.site-footer__corporate-menu {
  grid-area: corporate-menu;
  container-type: inline-size;
}
.site-footer__signup-form {
  grid-area: signup-form;
}
.site-footer__contact {
  grid-area: contact;
}
.site-footer__contact > * + * {
  margin-top: 0.5em;
}
.site-footer__copyright, .site-footer__site-address, .site-footer__site-email {
  font-size: 0.7501875469rem;
}
.site-footer__site-name {
  font-size: 1.5390234037rem;
}
.site-footer__site-address, .site-footer__site-email {
  font-family: YaleNew;
}
.site-footer__social-menu {
  margin-top: 20px;
}
.site-footer__yale-logo {
  --svg-path-fill: #101f5b;
  --svg-width: 66px;
  grid-area: yale-logo;
}
@media (min-width: 48em) {
  .site-footer {
    --site-footer-content-gtc: auto 1fr;
    --site-footer-content-gta:
      "footer-menu    signup-form"
      "corporate-menu signup-form"
      "contact        signup-form"
      "yale-logo      yale-logo";
  }
}
@media (min-width: 64em) {
  .site-footer {
    --site-footer-content-gtc: repeat(12, 1fr);
    --site-footer-content-gta:
      "footer-menu footer-menu footer-menu footer-menu corporate-menu corporate-menu signup-form signup-form signup-form signup-form signup-form signup-form"
      "contact     contact     contact     contact     contact        contact        signup-form signup-form signup-form signup-form signup-form signup-form"
      "yale-logo   yale-logo   .           .           .              .              signup-form signup-form signup-form signup-form signup-form signup-form";
  }
}
@media (min-width: 80em) {
  .site-footer {
    --site-footer-content-gta:
      "footer-menu footer-menu footer-menu footer-menu corporate-menu corporate-menu .       .       signup-form signup-form signup-form signup-form"
      "contact     contact     contact     contact     contact        contact        contact contact signup-form signup-form signup-form signup-form"
      "yale-logo   yale-logo   .           .           .              .              .       .       signup-form signup-form signup-form signup-form";
  }
}
