/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/templates/navigation/social/component/social.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
.menu--social {
  --list-margin: 0;
  --list-padding: 0;
  --li-margin: 0;
  --li-padding: 0;
  --li-style-type: none;
}

.menu--social {
  --a-font-size: 1.776889rem;
  --a-color: #101f5b;
  display: flex;
}
.menu--social .menu__item + .menu__item {
  margin-left: 20px;
}
